.alert-noti {
    width: 250px;
    border-radius: 4px;
    font-size: 13px;
    background-color: #ffffff;
    box-shadow: 5px 3px 30px rgba(0,0,0,0.16);
    padding: 12px;
}
    .alert-noti i{
        color: red;
        font-size: 24px;
    }
    .alert-noti span{
        font-size: 13px;
        padding-left: 16px;
    }
    .alert-noti .close{
        float: right;
    }